/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
$kodawarimedia-light-white: #f0fff0;
$kodawarimedia-dark-white: #808080;
$kodawarimedia-black: #051517;
$kodawarimedia-red: #9d0000;
$kodawarimedia-blue: #2c8fc8;
$kodawarimedia-yellow: #c4c400;
$kodawarimedia-violet: #a917a9;
$kodawarimedia-green: #009d00;
$kodawarimedia-dark-blue: #132e57;

body {
  background-color: $kodawarimedia-light-white;
}

// header

.navbar-extend {
  margin-bottom: 0;
  background-color: $kodawarimedia-green;
  opacity: 0.6;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.logo-img:hover {
  opacity: 0.6;
}

.logo-text {
  padding-top: 2px;
  :hover {
    opacity: 0.6;
  }
}

// max-width = 768px
@media (max-width: 768px) {
  .nav-item-extend {
    margin-top: 0.6rem;
  }
}

// <--button-->
.btn-extend {
  width: 8.5rem;
}

// <--header-->
.navbar-extend {
  margin-bottom:0 ;
  background-color: $kodawarimedia-black;
  opacity: 0.5;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.logo-text {
  padding-top: 2px;
  :hover {
    opacity: 0.6;
  }
}

.nav-item-extend {
  > a:not(.btn-extend) {
    // text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
  > a {
    margin-left: 1rem;
    float: right;
  }
}

.nav-link {
  color: $kodawarimedia-dark-white;
}

// <-- form -->
.form-submit {
  width: 100%;
}


// <-- micropost -->

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $kodawarimedia-black;
  }
  .micropost-list {

  }
  .micropost-user {
    margin-top: 5rem;
    padding-top: 0;
  }
  .micropost-content {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .micropost-timestamp {
    color: $kodawarimedia-dark-blue;
    display: block;
    margin-left: 200px;
  }
}

// <-- paginate -->

.pagination {
  margin-top: 1.6rem;

  .page-item {
    .page-link {
      background-color: $kodawarimedia-light-white;
      border: 1px solid $kodawarimedia-light-white;
      color: $kodawarimedia-green;
    }
  }
  .page-item.active .page-link {
    background-color: $kodawarimedia-green;
    border-color: $kodawarimedia-green;
    color: $kodawarimedia-light-white;
  }
}
