/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$kodawarimedia-light-white: white;
$kodawarimedia-off-green-white: #f0fff0;
$kodawarimedia-dark-white: #808080;
$kodawarimedia-black: #051517;
$kodawarimedia-red: #9d0000;
$kodawarimedia-blue: #2c8fc8;
$kodawarimedia-yellow: #c4c400;
$kodawarimedia-violet: #a917a9;
$kodawarimedia-green: #009d00;
$kodawarimedia-dark-blue: #132e57;

body {
  background-color: $kodawarimedia-light-white;
}

// <--header-->
// max-width = 768px
@media (max-width: 768px) {
  .nav-item-extend {
    margin-top: 0.6rem;
  }
}
// <--header_siteLogo-->
.navbarTop {
  width: auto;
  margin-right: 16px;
  margin-left: 16px;
}
.navbarTop_nav {
  display: flex;
  box-align: center;
  align-items: center;
}

.navbarTop_nav button {
  padding: 0;
  margin-right: 0;
  margin-left: 16px;
  border-style: none;
  background-color: $kodawarimedia-light-white;
}

.navbarTop_nav button i {
  font-size: 25px;
}
// <--header_navbarTop_sub-->
// <--header_navbarTop_menu-->
.nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
}
.nav li {
  display: table-cell;
  min-width: 50px;
  border-bottom: 0.1px solid $kodawarimedia-black;
}
.nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: $kodawarimedia-black;
  padding-bottom: 5px;
}
.nav li.current {
  border-bottom: 3px solid $kodawarimedia-red;
}
.nav li:hover {
  color: $kodawarimedia-blue;
  border-bottom: 3px solid $kodawarimedia-green;
}


// <--container_columns-->
@media screen and (max-width: 480px) {
  aside {
    width: 100%;
  }
  .pc_only {
    display: none;
  }
}




// <-- form -->
.form-submit {
  width: 100%;
}


// <-- micropost -->

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 10px;
  }
  .micropost-user {
    margin-top: 5rem;
    padding-top: 0;
    margin-left: 10px;
  }
  .micropost-content {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .micropost-timestamp {
    color: $kodawarimedia-dark-blue;
    display: block;
    margin-left: 200px;
  }
}

// <-- paginate -->

.pagination {
  margin-top: 1.6rem;

  .page-item {
    .page-link {
      background-color: $kodawarimedia-light-white;
      border: 1px solid $kodawarimedia-light-white;
      color: $kodawarimedia-green;
    }
  }
  .page-item.active .page-link {
    background-color: $kodawarimedia-green;
    border-color: $kodawarimedia-green;
    color: $kodawarimedia-light-white;
  }
}
// <--follow_stats-->
.users.follow {
  padding: 0;
}
