<footer>
  <nav class="container">
    <ul>
      <li><%= link_to 'kodawarimediaに関して', about_path, class: '', method: :get %></li>
      <li><%= link_to '利用規約', terms_of_service_path, class: '', method: :get %></li>
      <li><%= link_to 'プライバシーポリシー', privacy_path, class: '', method: :get %></li>
    </ul>
    <p><small>&copy; 2020 KODAWARIMEDIA All rights reserved.</small></p>
  </nav>
</footer>
